Hello <% name %> !

You also can use helpers like this:

- Kebab case: <%# toKebabCase %><% name %><%/ toKebabCase %>
- Snake case: <%# toSnakeCase %><% name %><%/ toSnakeCase %>
- Camel case: <%# toCamelCase %><% name %><%/ toCamelCase %>
- Upper case: <%# toUpperCase %><% name %><%/ toUpperCase %>
- Lower case: <%# toLowerCase %><% name %><%/ toLowerCase %>
